<!-- password_manager.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
</head>
<body>
    <h1>Password Manager</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
        </tr>
        {% for password in passwords %}
        <tr>
            <td>{{ password[0] }}</td>
            <td>{{ password[1] }}</td>
            <td>{{ password[2] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <h2>Add Password</h2>
    <form action="/add-password" method="post">
        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="submit" value="Add Password">
    </form>
</body>
</html>
